@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {

    font-family: 'Nunito Sans', sans-serif;
    font-size: 10px;
    background: #edeef0;
    background-image: url(/IMAGE/background2.png);


}

nav ul {
    background: black;

    color: white;
    display: flex;

    align-items: center;

    padding-top: 10px;
    justify-content: center;
    flex-direction: colomn;
    height: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style: none;

}

nav ul li h2 {
    color: white;
    font-size: 2em;



}

nav ul li {
    margin: 0 20px;
}

header div ul li .row {
    flex-direction: row;

}

.bg1 {

    margin-top: 10px;
    background: white;
}

#black-heart-line ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-weight: bold;

    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 35px;
    margin-right: 35px;
}

header>div ul li a {
    color: black;
}

#not-bold a {
    font-weight: 400;
}

#row,
#row1 {
    display: flex;
    flex-direction: row;

}

#row1 li,
#row li {
    margin-right: 15px;

}



#space {
    display: flex;
    flex-direction: colomn;
    justify-content: center;
    cursor: pointer;

}

#search-box {
    width: 350px;
    height: 50px;
    padding-left: 400px;
    margin-top: 21px;
    margin-bottom: 20px;

    background: rgba(240, 245, 247, 0.925);
    color: black;
    font-weight: bold;
    border: none;
}

#search-button {
    height: 50px;
    width: 230%;
    padding-bottom: 14px;
    padding-top: 14px;

    background: black;
    color: white;
    font-weight: bolder;
}

#sign-button {
    height: 50px;
    width: 70%;
    padding-bottom: 14px;
    padding-top: 14px;
    margin-left: 100px;
    color: black;
    font-weight: 500;
    font-size: 1em;
}

#sign-in {
    height: 50px;
    width: 70%;
    padding-bottom: 14px;
    padding-top: 14px;
    margin-left: 100px;
    color: black;
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
}

#one {
    margin-top: 25px;
    margin-right: 10px;

}

#header2 {
    display: flex;
    flex-direction: row;
}

.bg2 {
    background-image: url(/IMAGE/background2.png);
    padding-bottom: 50px;
}

.bg2 div {
    text-align: center;
    padding-left: 340px;
    padding-right: 340px;

}

.bg2 div h1 {
    font-size: 9em;
    color: white;
    font-weight: 900;
    padding-top: 100px;
    padding-bottom: 27px;
}

.bg2 div>p {
    color: white;
    font-size: 1.5em;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 27px;


}

.bg2 h2 {
    color: white;
    font-size: 4em;
    font-weight: 900;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 30px;
}

.input {
    width: 200px;
    justify-content: space-around;

    margin: 2%;
}

#in1 {
    width: 30%;
    height: 60px;
    border: none;
    background: #c12127;
    border-bottom: solid 5px #fa8717;
    font-weight: 900;
    color: white;
    font-size: 1.5em;
}

#in2 {

    width: 30%;
    height: 60px;
    border: none;
    background: #e81aa8;
    border-bottom: solid 5px #b30ad2;
    font-weight: 900;
    color: white;
    font-size: 1.5em;
}

.bubble {
    background: white;
}

#home ul {
    padding-left: 430px;
    padding-right: 430px;
    text-align: center;
    list-style: none;
}

#home ul li {
    font-size: 1.8em;
    padding-top: 20px;
    padding-bottom: 20px;
}

#home2 {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 70px;
    font-size: 1.4em;
    margin-left: 160px;
    margin-right: 160px;
}

#home2 article {
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-left: 30px;
}

#home2 article li,
h4,
p,
input {
    margin-top: 20px;
}

#home h2 {
    font-size: 4em;
    font-weight: 600;
}

#home2 h4 {
    font-size: 1.3em;
    font-weight: 600;
}


#home2 article li {
    list-style: none;
}

#home2 img {
    margin-right: 10px;
}

#img-position-in-second-article {
    display: flex;
    flex-direction: row;
}


.in {



    border-color: black;

    border-radius: 20px;
    height: 40px;

    cursor: pointer;

    background: white;
    font-size: 1.1em;
    font-weight: bolder;
    margin-top: 30px;
}


#bg3 div {
    background-image: url(/IMAGE/background.png);
}

#bg3 div h3 {
    font-size: 5em;
    font-weight: 900;
    color: white;
}

#bg3 div p {
    font-size: 1.8em;
    color: white;
    padding-right: 400px;
    padding-left: 400px;
}

#bg3 div {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 80px;
}

#bg4 div {
    background-color: white;
    align-items: center;
    font-size: 4em;
    font-weight: 600;
    color: black;
    list-style: none;
    padding-right: 420px;
    padding-left: 420px;
    padding-top: 50px;
    padding-bottom: 20px;
}

#bg4 div>li {
    text-align: center;
}

#bg4 div li {
    padding-bottom: 70px;
}

#foot div {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;


}

#foot div article {
    padding-left: 40px;
    padding-right: 100px;
}

#foot div article h4 {
    font-size: 2em;
    font-weight: 800;
    padding-bottom: 20px;
}

#foot div article ul li {
    list-style: none;
    font-size: 1.8em;
    font-weight: 400;
    color: white;
    padding-bottom: 15px;
}


#foot {
    margin-bottom: 10px;

}

#foot div article ul li a {
    color: black;
}

.remove-underline {
    text-decoration: none;
}